*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1{
    text-align: center;
}

.post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.post h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.post p {
    color: #666;
    font-size: 1em;
}